.div__top {
  text-align: right;
  background-color: #b9c1b9;
}

.mat-dialog-container {
  overflow-x: hidden !important;
}

.side-nav-field {
  margin-right: 10px;
}

.div__url__container {
  margin: 5px 2.5% 5px 0px;
}

.div__params__container {
  text-align: center;
}

.box_header_dialog {
  border-bottom: 1px solid lightgray;
}

h4, .mat-form-field-label, h5 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.div__button__container {
  float: right;
}

.div__button__container>button {
  margin:5px;
}
