.div__top {
  text-align: right;
  background-color: #b9c1b9;
}

.mat-dialog-container {
  overflow-x: hidden !important;
}

.side-nav-field {
  margin-right: 10px;
}

.div__url__container {
  margin: 5px 2.5% 5px 0px;
}

.div__params__container {
  text-align: center;
  border: 1px solid lightgray;
  width: 95%;
  margin: 5px 2.5% 5px 0px;
  padding-top: 5px;
  height: 36vh;
  overflow: scroll;
}

.div__button__container {
  text-align: center;
}

.box_header_dialog {
  border-bottom: 1px solid lightgray;
}

.title_text_span {
  float:left !important;
}
