<p-growl [(value)]="errorMessages" [life]="'3000'"></p-growl>
<div mat-dialog-title class="text-center box_header_dialog mt-1">
  <h4>
    <span>
      Service config
    </span>
  </h4>
</div>
<div mat-dialog-content style="overflow: scroll">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h5>
            Service address config
          </h5>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="col-sm-12">
        <mat-form-field class="side-nav-field col-sm-10">
          <input matInput placeholder="Swagger url" [(ngModel)]="urlValue.swaggerUrl">
        </mat-form-field>

        <button mat-icon-button (click)="getParameters()" color="accent" [disabled]="disableGetParams()">
          <mat-icon>cloud_download</mat-icon>
        </button>

        <mat-form-field class="side-nav-field col-sm-6">
          <input matInput placeholder="Url" [(ngModel)]="urlValue.url">
        </mat-form-field>

        <mat-form-field class="side-nav-field col-sm-4">
          <mat-label>Http header</mat-label>
          <mat-select [(ngModel)]="urlValue.http">
            <mat-option *ngFor="let http of https" [value]="http">
              {{http}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="side-nav-field col-sm-2">
          <input matInput placeholder="Prefix (API)" [(ngModel)]="urlValue.prefix">
        </mat-form-field>

        <mat-form-field class="side-nav-field col-sm-3">
          <input matInput placeholder="Controller" [(ngModel)]="urlValue.controller">
        </mat-form-field>

        <mat-form-field class="side-nav-field col-sm-3">
          <input matInput placeholder="Action" [(ngModel)]="urlValue.action">
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </mat-accordion>


  <div class="div__params__container col-sm-12 mt-2 pt-2 border">
    <h4>
      Service parameters
      <!-- <button style="margin:5px;" pButton icon="pi pi-plus" class="ui-button-success" ></button> -->
      <button mat-icon-button (click)="addNewParameter()" color="accent">
        <mat-icon>add</mat-icon>
      </button>
    </h4>
    <div style="margin-right:25px;" *ngFor="let param of params">
      <mat-form-field class="side-nav-field">
        <input matInput placeholder="Name" [(ngModel)]="param.name">
      </mat-form-field>
      <mat-form-field class="side-nav-field">
        <input matInput placeholder="Value" [(ngModel)]="param.value">
      </mat-form-field>
      <button mat-icon-button (click)="removeParameter(param)" color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>

<div class="div__button__container" mat-dialog-actions>
  <!-- <button style="margin:5px;" pButton icon="pi pi-check" class="ui-button-success" ></button> -->
  <button mat-mini-fab (click)="closeDialog(true)" color="primary">
      <mat-icon>check</mat-icon>
    </button>
  <button mat-mini-fab (click)="dialogRef.close()" color="warn">
      <mat-icon>close</mat-icon>
    </button>
</div>
