.no__result__div {
    border: 1px solid lightgray;
    text-align: center;
    margin-top: 10px;
    color: #a94442;
}

th {
    text-align: center !important;
    font-size: 14px !important;
    color: gray !important;
}