.div__top {
    text-align: right;
    background-color: #b9c1b9;
}

th {
    text-align: center !important;
    font-size: 14px !important;
    color: gray !important;
}

.search__form {
    width: 100%;
    text-align: right;
}

.mat-row:hover {
    background-color: lightgray;
    cursor: pointer;
  }